
### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### IPython ###
profile_default/
ipython_config.py

### Python ###
__pycache__/
*.py[cod]
*$py.class

### Data ###
# https://drive.google.com/file/d/1kOEcWtcTbbrlhVf1wlYtFQUF_kY92U5O
data/flights_2008.csv.bz2
